/* grid-template-column */
.parent{
    border: solid orange;
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    height: 50vh;
 
 }
 
 .child{
    border: solid;
 }
 .child-1{
     grid-column-start: 1;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 3;
     display: grid;
 }
 .child-2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
 }
 .child-3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
 }
 .child-10{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
 }