#parent{
    display:flex;
  }
  .child{
    flex:1;
    height:100px;
  }
  input{
    font-size:30pt;
    text-align:center;
  }
  p{
    text-align:center;
    font-size:30pt;
  }
  button{
    width:100vw;
    height:100px;
    font-size:30pt;
    background-color:rgba(0,0,3,.3);
    
  }
  
  