div{
    border: solid black;
    font-size: 50px;
    padding: 50px 75px 100px 200px;
    margin: 100px;
    font-family: 'Spicy Rice', cursive;
}
span{
    color:rgb(0, 0, 255);
    font-size: 74px;
}

ul{
    display: flex;
}

p{
    color: chartreuse;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Mali', cursive;
    word-spacing: 30%;
    letter-spacing: 5px;
    text-align: center;
}